@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  margin: 0px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.center {
  width: var(--content-width);
  min-height: fit-content;
  position: relative;
  margin: 30px auto 0;
}

.login-page {
  width: var(--content-width);
  min-height: fit-content;
  position: relative;
  margin: 5% auto 0;
  text-align: center;
}

.form-list {
  display: flex;
  flex-direction: column;
}
