<mat-toolbar class="mp0">
  <div class="flex-row mp0 w100 navbar-inner">
    <div class="flex-row center-everything">
      <a routerLink="/" routerLinkActive="active">
        <button mat-button>Degree Planning Assistant</button>
      </a>
    </div>
    <div
      *ngIf="!isSmallScreen; else mobileMenu"
      class="flex-row center-everything"
    >
      <div *ngIf="userLoggedIn; else showLogin">
        <mat-menu #appMenu="matMenu">
          <a [routerLink]="['home']">
            <button mat-menu-item>Home</button>
          </a>
          <button mat-menu-item (click)="logoutButton()">
            Logout
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <img src="../../assets/hamburger-menu.png" />
        </button>
      </div>
      <ng-template #showLogin>
        <a routerLink="/register" routerLinkActive="active">
          <button mat-button class="mp0 mr2em">Sign up</button>
        </a>
        <a routerLink="/login" routerLinkActive="active">
          <button mat-button class="mp0">Sign in</button>
        </a>
      </ng-template>
    </div>
    <ng-template #mobileMenu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-template>
  </div>
</mat-toolbar>
