/* Component Layout */
.navbar-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: #1abc9c;
}

.mr2em {
    margin-right: 1em;
}

/* Styling */
a {
    text-decoration: none;
}

button {
    color: #ecf0f1;
}

.menuBtn {
    color: #636e72;
}
