<div class="outermost-container">
  <mat-card class="card">
    <span class="editor-title">Edit Your Degree Plan</span>
    <div class="canvas-and-course-list-container">
      <!-- Canvas -->
      <div
        *ngIf="plan"
        class="canvas"
        (dragover)="(false)"
        (drop)="onDropRemoveCourse()"
      >
        <div
          *ngFor="let year of plan.years; let yearIndex = index"
          class="year mb8"
        >
          <div class="year-title">
            <div class="year-hori-line"></div>
            <span *ngIf="year.beginning && year.ending" class="year-range"
              >{{ year.beginning }} - {{ year.ending }}</span
            >
            <div class="year-hori-line"></div>
          </div>
          <div class="semester-cards-container">
            <!-- Semester Cards -->
            <div
              *ngFor="let semester of year.semesters; let semesterIndex = index"
              class="semester-card-with-remove-btn"
            >
              <img
                src="../../assets/delete-32.png"
                class="semester-card-delete-btn"
                (click)="onClickRemoveSemester(semeserIndex, yearIndex)"
              />
              <div
                [ngClass]="{
                  'semester-card': true,
                  'semester-card-warning-medium':
                    semester.warnings &&
                    (semester.warnings.includes('MAX_UNITS_EXCEEDED') ||
                      semester.warnings.includes('HIGH_WORKLOAD') ||
                      semester.warnings.includes('HIGH_DIFFICULTY') ||
                      semester.warnings.includes('HAS_IMPACTED_COURSE')),
                  'semester-card-warning-high':
                    semester.warnings &&
                    semester.warnings.includes('EMPTY_TERM')
                }"
                (dragover)="(false)"
                (drop)="onDropSemesterCard(semesterIndex, yearIndex)"
              >
                <div class="semester-card-term-and-status">
                  <span *ngIf="semester.term && semester.year">
                    {{ semester.term | uppercase }} {{ semester.year }}</span
                  >
                  <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="semester.status">
                      <mat-option value="planned">PLANNED</mat-option>
                      <mat-option value="in-progress">IN-PROGRESS</mat-option>
                      <mat-option value="completed">COMPLETED</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- Course Rows -->
                <div
                  *ngFor="
                    let course of semester.courses;
                    let courseIndex = index
                  "
                  class="semester-card-course"
                >
                  <div class="semester-card-course-chip-and-difficulty">
                    <mat-chip-list class="mr8">
                      <mat-chip
                        *ngIf="course.department && course.code"
                        [matMenuTriggerFor]="menu"
                        class="chip"
                        draggable="true"
                        (dragstart)="
                          onDragFromSemesterCard(
                            courseIndex,
                            semesterIndex,
                            yearIndex,
                            course
                          )
                        "
                      >
                        {{ course.department }}{{ course.code }}
                      </mat-chip>
                    </mat-chip-list>
                    <mat-menu #menu="matMenu" style="padding: 0px;">
                      <app-popup
                        [title]="
                          course.school + ' ' + course.department + course.code
                        "
                        [subtitle]="course.title"
                        contentTitle="Description"
                      >
                        <p *ngIf="course?.description">
                          {{ course.description }}
                        </p>
                      </app-popup>
                    </mat-menu>
                    <div
                      *ngIf="course.difficulty && course.difficulty == 1"
                      class="statistic-chip-1 mr8"
                    >
                      <img
                        src="../../assets/difficulty-16.png"
                        class="icon-16 mr8"
                      />
                      {{ course.difficulty }}
                    </div>
                    <div
                      *ngIf="course.difficulty && course.difficulty == 2"
                      class="statistic-chip-2 mr8"
                    >
                      <img
                        src="../../assets/difficulty-16.png"
                        class="icon-16 mr8"
                      />
                      {{ course.difficulty }}
                    </div>
                    <div
                      *ngIf="course.difficulty && course.difficulty == 3"
                      class="statistic-chip-3 mr8"
                    >
                      <img
                        src="../../assets/difficulty-16.png"
                        class="icon-16 mr8"
                      />
                      {{ course.difficulty }}
                    </div>
                    <div
                      *ngIf="course.impaction && course.impaction == 1"
                      class="statistic-chip-1 mr8"
                    >
                      <img
                        src="../../assets/impaction-16.png"
                        class="icon-16 mr8"
                      />
                      {{ course.impaction }}
                    </div>
                    <div
                      *ngIf="course.impaction && course.impaction == 2"
                      class="statistic-chip-2 mr8"
                    >
                      <img
                        src="../../assets/impaction-16.png"
                        class="icon-16 mr8"
                      />
                      {{ course.impaction }}
                    </div>
                    <div
                      *ngIf="course.impaction && course.impaction == 3"
                      class="statistic-chip-3 mr8"
                    >
                      <img
                        src="../../assets/impaction-16.png"
                        class="icon-16 mr8"
                      />
                      {{ course.impaction }}
                    </div>
                  </div>
                  <span *ngIf="course.credit" class="semester-card-course-units"
                    >{{ course.credit }} units</span
                  >
                </div>
                <!-- Sum of Courses Row -->
                <div class="semester-card-total-difficulty-and-units">
                  <div class="semester-card-course-chip-and-difficulty">
                    <div
                      *ngIf="
                        semester.difficulty &&
                        semester.difficulty >= 0 &&
                        semester.difficulty < 2
                      "
                      class="statistic-chip-1"
                    >
                      <img
                        src="../../assets/difficulty-16.png"
                        class="icon-16 mr8"
                      />
                      {{ semester.difficulty }}
                    </div>
                    <div
                      *ngIf="
                        semester.difficulty &&
                        semester.difficulty >= 2 &&
                        semester.difficulty < 3
                      "
                      class="statistic-chip-2"
                    >
                      <img
                        src="../../assets/difficulty-16.png"
                        class="icon-16 mr8"
                      />
                      {{ semester.difficulty }}
                    </div>
                    <div
                      *ngIf="semester.difficulty && semester.difficulty >= 3"
                      class="statistic-chip-3"
                    >
                      <img
                        src="../../assets/difficulty-16.png"
                        class="icon-16 mr8"
                      />
                      {{ semester.difficulty }}
                    </div>
                  </div>
                  <span
                    *ngIf="semester.units"
                    class="semester-card-course-units"
                    >= {{ semester.units }} units</span
                  >
                </div>
                <div
                  *ngIf="semester.warnings"
                  class="semester-card-warning mt8"
                >
                  <div
                    *ngIf="semester.warnings.includes('MAX_UNITS_EXCEEDED')"
                    class="semester-card-warning-case"
                  >
                    <mat-icon class="semester-card-warning-medium-icon"
                      >error_outline</mat-icon
                    >
                    <span class="semester-card-warning-medium-text">
                      Max units exceeded. Advisor approval may be required.
                    </span>
                  </div>
                  <div
                    *ngIf="semester.warnings.includes('HIGH_WORKLOAD')"
                    class="semester-card-warning-case"
                  >
                    <mat-icon class="semester-card-warning-medium-icon"
                      >error_outline</mat-icon
                    >
                    <span class="semester-card-warning-medium-text">
                      Possible high workload.
                    </span>
                  </div>
                  <div
                    *ngIf="semester.warnings.includes('HIGH_DIFFICULTY')"
                    class="semester-card-warning-case"
                  >
                    <mat-icon class="semester-card-warning-medium-icon"
                      >error_outline</mat-icon
                    >
                    <span class="semester-card-warning-medium-text">
                      Possible high term overall difficulty.
                    </span>
                  </div>
                  <div
                    *ngIf="semester.warnings.includes('HAS_IMPACTED_COURSE')"
                    class="semester-card-warning-case"
                  >
                    <mat-icon class="semester-card-warning-medium-icon"
                      >error_outline</mat-icon
                    >
                    <span class="semester-card-warning-medium-text">
                      There are impacted courses in this term.
                    </span>
                  </div>
                  <div
                    *ngIf="semester.warnings.includes('EMPTY_TERM')"
                    class="semester-card-warning-case"
                  >
                    <mat-icon class="semester-card-warning-high-icon"
                      >error_outline</mat-icon
                    >
                    <span class="semester-card-warning-high-text">
                      Terms cannot be left empty.
                    </span>
                  </div>
                  <div
                    *ngIf="semester.warnings.includes('NOT_FULL_TIME')"
                    class="semester-card-warning-case"
                  >
                    <mat-icon class="semester-card-warning-low-icon"
                      >error_outline</mat-icon
                    >
                    <span class="semester-card-warning-low-text">
                      Not enough units for full-time enrollment status.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="add-semester-card">
            <button
              *ngIf="
                year.beginning &&
                year.ending &&
                year.newSemesterWidget.active === false
              "
              mat-button
              (click)="toggleAddingSemester(yearIndex)"
              class="add-semester-font-clr w100"
            >
              + ADD A SEMESTER FOR {{ year.beginning }} - {{ year.ending }}
            </button>
            <mat-form-field
              class="mr8"
              *ngIf="year.newSemesterWidget.active === true"
            >
              <mat-label>Semester</mat-label>
              <mat-select [(ngModel)]="year.newSemesterWidget.termSelect">
                <mat-option value="summer">Summer</mat-option>
                <mat-option value="fall">Fall</mat-option>
                <mat-option value="winter">Winter</mat-option>
                <mat-option value="spring">Spring</mat-option>
              </mat-select>
            </mat-form-field>
            <button
              mat-button
              *ngIf="year.newSemesterWidget.active === true"
              (click)="toggleAddingSemester(yearIndex)"
            >
              CANCEL
            </button>
            <button
              *ngIf="year.newSemesterWidget.active === true"
              mat-raised-button
              color="primary"
              (click)="onClickAddNewSemester(yearIndex)"
            >
              ADD SEMESTER
            </button>
          </div>
        </div>
        <div class="add-year-card">
          <button
            *ngIf="!addYearWidget.active"
            class="add-semester-font-clr w100 h100"
            mat-button
            (click)="toggleAddingYear()"
          >
            + ADD A NEW SCHOOL YEAR
          </button>
          <mat-form-field *ngIf="addYearWidget.active">
            <mat-label>Beginning Year</mat-label>
            <input
              matInput
              placeholder="ex. 2017"
              type="Number"
              [(ngModel)]="addYearWidget.yearField"
            />
          </mat-form-field>
          <button
            mat-button
            *ngIf="addYearWidget.active"
            (click)="toggleAddingYear()"
          >
            CANCEL
          </button>
          <button
            *ngIf="addYearWidget.active"
            mat-raised-button
            color="primary"
            (click)="onClickAddNewYear()"
          >
            ADD YEAR
          </button>
        </div>
      </div>
      <!-- Course List -->
      <div *ngIf="courseList" class="course-list-container">
        <span class="h6 bold neutral-gray-clr mb16">Available Courses:</span>
        <div class="course-list">
          <div *ngFor="let department of courseList" class="mb16">
            <span class="body1 neutral-gray-clr mb8">{{
              department.department
            }}</span>
            <mat-chip-list>
              <mat-chip
                *ngFor="let course of department.courses"
                [matMenuTriggerFor]="menu"
                class="chip"
                draggable="true"
                (dragstart)="onDragFromCourseList(course)"
              >
                {{ course.department }}{{ course.code }}
                <mat-menu #menu="matMenu" style="padding: 0px;">
                  <app-popup
                    [title]="
                      course.school + ' ' + course.department + course.code
                    "
                    [subtitle]="course.title"
                    contentTitle="Description"
                  >
                    <p *ngIf="course?.description">
                      {{ course.description }}
                    </p>
                  </app-popup>
                </mat-menu>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>
    <button mat-button-raised color="primary" (click)="onClickSubmitPlan()">
      Submit
    </button>
  </mat-card>
</div>
