<div class="d-flex column flex-wrap justify-content-center align-items-center page-size">
    <div class="viewport vh92">
        <div class="d-flex column justify-content-center card">
            <div class="d-flex row justify-content-center align-items-center w100 pm0">
                <p class="header pm0 mb05em">College Course Planning, Simplified</p>
            </div>
            <p class="subtitle pm0">Create a well thought out course plan that lets you get your degree on time while avoiding pitfalls.</p>
            <div class="d-flex row align-items-center">
                <button mat-raised-button color="primary" class="sign-up-btn">
                    Sign me up
                </button>
            </div>
        </div>
        <img src="../../assets/placeholderImg-desk.jpg" class="placeholder-img" />
    </div>
    <div class="horizontal-line"></div>
    <div class="viewport vh99">
            <img src="../../assets/placeholderImg-books.jpg" class="placeholder-img">
        <div class="d-flex column justify-content-center card">
                <div class="d-flex justify-content-end row align-items-center pm0">
                    <p class="header pm0 mb05em">Students First</p>
                </div>
            <p class="subtitle text-align-right pm0">A degree planner that lets you know of important factors such as impaction, class difficulty, and course availability.</p>
        </div>
    </div>
    <div class="horizontal-line"></div>
    <div class ="viewport-col vh99">
        <div class="d-flex column justify-content-center align-items-center card">
            <div class="d-flex row justify-content-center align-items-center w100 pm0">
                <p class="header pm0 mb05em">Adapt To Changes</p>
            </div>
            <p class="subtitle text-align-center pm0">College life is unpredictable. Our app helps you adapt to your changing needs.</p>
        </div>
        <img src="../../assets/placeholderImg-write.jpg" class="placeholder-img">
    </div>
</div>
