/* Material UI components */
.sign-up-btn {
  color: white;
  font-weight: bold;
  margin-top: 2em;
  background-color: #1abc9c;
}

/* Text Card Styling */
.card {
  max-width: 600px;
  margin: 2em;
  position: relative;
  animation-name: fadeInDown;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

/* Spacers */
.viewport {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.vh92 {
  min-height: 92vh;
}

.vh99 {
  min-height: 99vh;
}

.mr5em {
  margin-right: 5em;
}

.ml5em {
  margin-left: 5em;
}

.mb05em {
  margin-bottom: 0.5em;
}

/* Fonts */
.header {
  display: block;
  font-size: 48px;
  color: #1abc9c;
  font-weight: bold;
}

.subtitle {
  color: #636e72;
  font-size: 32px;
}

/* Placeholder */
.placeholder-img {
  width: 95%;
  height: 60%;
  max-width: 500px;
  max-height: 350px;
  margin: 2em;
  position: relative;
  animation-name: fadeInUp;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

/* Simple animations */
@keyframes fadeInDown {
  from {
    bottom: 2em;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    top: 2em;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

/* Test */
.border {
  border: 1px solid black;
}
