<div class="flex-column align-items-center">
  <mat-expansion-panel
    [expanded]="openPanel"
    *ngIf="profile | async as userProfile"
    class="card-section"
  >
    <mat-expansion-panel-header>
      <mat-panel-title class="big-header">
        <p class="section-header">Courses Taken</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="flex-column align-items-start">
      <mat-chip-list>
        <mat-chip
          *ngFor="let course of userProfile?.coursesTaken"
          [matMenuTriggerFor]="menu"
          class="chip"
        >
          <span *ngIf="course.department && course.code" class="body1 chip-clr">
            {{ course.department }} {{ course.code }}
          </span>
          <mat-menu #menu="matMenu" style="padding: 0px;">
            <app-popup
              [title]="
                course.school + ' ' + course.department + ' ' + course.code
              "
              [subtitle]="course.title"
              contentTitle="Description"
            >
              <p *ngIf="course?.description">
                {{ course.description }}
              </p>
            </app-popup>
          </mat-menu>
        </mat-chip>
      </mat-chip-list>
    </div>
    <p>
      <button class="add-courses-btn" (click)="showModal = true">+</button>
      <app-modal
        [isOpen]="showModal"
        title="Test modal"
        (onClose)="modalStatus($event)"
        (onInput)="getModalData($event)"
      >
        This is the content of the modal (thanks to transclusion aka content
        projection)
        <h3>Courses Taken:</h3>
        <p *ngFor="let course of userProfile?.coursesTaken">
          <span *ngIf="course.department && course.code">
            {{ course.department }} {{ course.code }}
          </span>
        </p>
      </app-modal>
    </p>
  </mat-expansion-panel>
</div>
