<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="refresh" content="1;url=<%= url %>" />
    <script type="text/javascript">
      setTimeout(() => (window.location.href = url), 3000);
    </script>
  </head>
  <body>
    <p>Welcome <%= email %></p>
    <p>
      Thanks for registering an account with us. Your email has been verified.
      You will be redirected to our Login page in a few seconds.
      <br />
    </p>
    <a href="<%= url %>"> Please click here if it doesn't redirect! </a>
  </body>
</html>
