<p>Dear <%= email %></p>
<p>
  This is a confirmation that the password for your account <%= email %> has
  just been changed.
  <br />
</p>
<a href="<%= clientURI %>">Click here to login to the dashboard.</a>
