<p>Dear <%= email %>,</p>
<p>
  You are receiving this because you (or someone else) have requested the reset
  of the password for your account. Please click on the following link to
  complete the process. If you did not request this, please ignore this email
  and your password will remain unchanged.
  <br />
</p>
<a href="<%= url %>">Click here to continue your process to change password</a>
