<div class="login-page">
  <mat-card>
    <mat-card-title>
      Degree Planning Assistant
    </mat-card-title>
    <mat-card-subtitle>
      Welcome back!
    </mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-list">
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email" autocomplete="on" />
        </mat-form-field>
        <mat-form-field>
          <input [type]="showPassword.checked ? 'text' : 'password'" formControlName="password" matInput
            placeholder="Password" autocomplete="on" />
        </mat-form-field>
        <mat-checkbox #showPassword style="display: inherit; margin-bottom: 20px;">Show password</mat-checkbox>
      </form>
      <button type="submit" (click)="onSubmit()" style="text-align: center">Login</button>
    </mat-card-content>
  </mat-card>

  <div>
    <p>Or sign up to create an account!</p>
    <button class="button-center" (click)="routeToRegister()">Sign Up</button>
  </div>
</div>
